<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationPreferredDefaultSceneSessionRole</key>
		<string>UIWindowSceneSessionRoleApplication</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>NSWorldSensingUsageDescription</key>
<string>We use world sensing to place content accurately in your environment.</string>

<key>NSHandsTrackingUsageDescription</key>
<string>We use hand tracking to allow natural interactions with objects.</string>

<key>NSEnterpriseMCAMUsageDescription</key>
<string>We use motion capture data to enhance immersive experiences.</string>

</dict>
</plist>
